NEXT_PUBLIC_SITE_URL=https://jpbstore.com.br
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/jpbstore
NEXT_PUBLIC_GA4_ID=G-XXXXXXXXXX
NEXT_PUBLIC_META_PIXEL_ID=000000000000000
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=google-site-verification-code
